#board {
  position: relative;
  height: 100vh;
}

.cube-container {

  $size: 300px;

  position: relative;
  top:150px;
  width: $size;
  height: $size;
  margin: 0 auto;
  perspective: 1000px;

  #cube {
    position: absolute;
    transform-style:preserve-3d;
    -ms-transform-style: none;
    -ms-transform: none;
    width: 100%;
    height: 100%;

    figure {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #FFF;
    }
    .front {
      transform: rotateY(0deg) translateZ($size/2);
    }
    .back {
      transform: rotateY(180deg) translateZ($size/2);
    }
    .left {
      transform: rotateY(-90deg) translateZ($size/2);
    }
    .right {
      transform: rotateY(90deg) translateZ($size/2);
    }
    .top {
      transform: rotateX(90deg) translateZ($size/2);
    }
    .bottom {
      transform: rotateX(-90deg) translateZ($size/2);
    }

  }
}
