/////////////////////////////////////
///////////-CSS-RESET-///////////////
/////////////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////


body {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  cursor: none;

  font-family: Sans-Serif;
}

::-webkit-scrollbar {
    display: none;
}

#configBtn {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  float: right;
  display: block;
  background: white;
  border-radius: 50%;
  margin: 20px 20px 0 0;
}

#configBoard {
  text-align: center;
  padding-top: 30px;

  .canvas_container {
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: inline-block;
  }

  .labels {
    text-align: center;
    padding-top: 10px;

    span {
      width: 512px;
      display: inline-block;
      color: rgba(255, 255, 255, 0.4);

    }
  }
}

#board {
  position: relative;
  height: 100vh;

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -304px;
    margin-left: -304px;

    width: 604px;
    font-size: 0px;

    .element {
      width: 200px;
      height: 200px;
      background: white;
      position: relative;
      display: inline-block;
      margin: 1px 0 0 1px;

      -webkit-transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease;

      .square {
        border-radius: 0%;
      }

      .circle {
        border-radius: 50%;
      }


      &__zoom {
        background: red;
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transform: scale(0);
      }

    }
  }
}

.loader {

  opacity: 0;
  z-index: 5;
  position: absolute;
  cursor: none;

  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;

  .loader--inpt {
    display: none;
  }
}

.cursor {
  cursor: none;
  z-index: 10;
  position: absolute;
  background: #FFB718;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}